
* {
    margin:0px auto;
    padding:0px auto;
}

#login_page {
    height: 100%;
    background: #a2a2a2;
    bottom: 0;
}

#login_header {
    height: 100px;
    width: 100%;
    background: #5a5a5a;
    clear: both;
}

#login_footer {
    background: #5a5a5a;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

#login_main {
    height: 200px;
    width: 200px;
    padding:50px;
    margin-top:20px;
    text-align: center;
    box-shadow:2px 5px 5px 10px #808080;
    border:1px solid #303030;
    border-radius: 100px ;
}

#login label{
    font-weight: bold;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}


